*.suo
*.Cache
BinaryBaseball.Common/bin/
BinaryBaseball.Common/obj/
BinaryBaseball.SBS/bin/
BinaryBaseball.SBS/obj/
BinaryBaseball.Simulation/bin/
BinaryBaseball.Simulation/obj/
BinaryBaseball.Simulation.Tests/bin/
BinaryBaseball.Simulation.Tests/obj/
